/* Basic styling for all elements */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* Header section */

header {
  background-color: #434ccc;
  display: flex;
  flex-direction: column;
}

.menu {
  display: flex;
}

.menu-logo {
  color: var(--Text_White, #fff);

  /* H3 */
  font-family: DM Serif Display;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 48px; /* 120% */
  
  padding: 16px 534px 16px 135px; 
}
.menu-links {
  display: flex;
  list-style: none;
  gap: 15px;
  padding: 28px 40px 28px 534px;
}
.menu a {
  text-decoration: none;
  color: var(--Text_White, #fff);
  font-family: DM Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
}
.portfolio-intro {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.portfolio-intro h1 {
  color: var(--Text_White, #fff);

  /* H1 */
  font-family: DM Serif Display;
  font-size: 72px;
  font-style: normal;
  font-weight: 400;
  /* line-height: 80px; 111.111% */

  padding: 47px 580px 47px 580px;
}
.portfolio-description {
  color: var(--Text_White, #fff);
  text-align: center;

  /* Text_Big */
  font-family: DM Sans;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  /* line-height: 32px; 160% */
}
.sign-up{
  margin-left: 40px;
}
/* End of header section styling  */

/* Main section after Header */

main {
  padding: 40px 120px;
}

.item-icon {
  display: flex;
  justify-content: center;
  gap: 40px;
  margin-bottom: 40px;
  font-family: var(--text-font-family);
}

.item-icon > p:first-child {
  font-weight: 600;
  opacity: 1;
}

.item-icon > p {
  opacity: 0.7;
}

.item-image-content {
  position: relative;
  top: 0;
}

.item-image {
  width: 100%;
}

.item-image-inside {
  position: absolute;
  top: 90px;
  left: 100px;
  color: var(--textwhite);
}

.item-image-inside > p:first-child {
  font-family: var(--text-gray-font-family);
  font-size: 16px;
  font-weight: 400;
  opacity: 0.7;
}

.item-image-inside p {
  font-size: 56px;
  margin: 20px 0;
  width: 440px;
  font-weight: 600;
}

.item-image-content .button-2 {
  margin-top: 20px;
  background: none;
  border: 1px solid var(--textwhite);
  color: var(--textwhite);
  padding: 15px 45px;
  font-weight: 600;
  font-size: 16px;
  cursor: pointer;
}

.portfolio-items-boxes {
  margin-top: 30px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
}

.portfolio-items-inner-box {
  position: relative;
  color: var(--textwhite);
}

.portfolio-inner-box-img {
  width: 100%;
}

.portfolio-items-inner-box-content {
  position: absolute;
  top: 100px;
  left: 80px;
}

.portfolio-inner-box-text {
  font-family: var(--text-gray-font-family);
  font-size: 15px;
  opacity: .7;
}

.portfolio-inner-box-title {
  font-size: 26px;
  font-weight: 500;
  margin: 20px 0;
  width: 160px;
}

.portfolio-items-inner-box button {
  background: none;
  border: 1px solid rgba(255, 255, 255, .5);
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
}

.main-buttons {
  display: flex;
  justify-content: center;
  gap: 16px;
  margin-top: 40px;
}

.main-buttons button {
  background: none;
  border: 1px solid rgba(67, 76, 204, .5);
  color: rgb(67,76,204);
  font-weight: 800;
  padding: 14px 18px;
  border-radius: 5px;
  transition: background-color .25s, color .25s;
}

.main-buttons button:hover {
  background-color: rgb(67,76,204);
  color: var(--textwhite);
}

.main-buttons .wrapper-btn {
  background-color: rgb(67,76,204);
  color: var(--textwhite);
}

.arrow-2 {
  transform: rotateY(180deg);
}

/* End of the main section styling */
