.portfolio {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.portfolio .div {
  background-color: #ffffff;
  width: 1440px;
  height: 3440px;
  position: relative;
}

.portfolio .overlap {
  width: 1440px;
  height: 80px;
  top: 0;
  background-color: #434ccc;
  position: absolute;
  left: 0;
}

.portfolio .text-wrapper {
  top: 15px;
  color: var(--textwhite);
  font-size: var(--h3-font-size);
  line-height: var(--h3-line-height);
  position: absolute;
  left: 135px;
  font-family: var(--h3-font-family);
  font-weight: var(--h3-font-weight);
  letter-spacing: var(--h3-letter-spacing);
  white-space: nowrap;
  font-style: var(--h3-font-style);
}

.portfolio .about-portfolio-blog {
  position: absolute;
  top: 27px;
  left: 771px;
  font-family: var(--text-font-family);
  font-weight: var(--text-font-weight);
  color: var(--textwhite);
  font-size: var(--text-font-size);
  text-align: right;
  letter-spacing: var(--text-letter-spacing);
  line-height: var(--text-line-height);
  white-space: nowrap;
  font-style: var(--text-font-style);
}

.portfolio .dark-button {
  width: 170px;
  top: 16px;
  left: 1135px;
  position: absolute;
  height: 48px;
  border-radius: 5px;
  border: 1px solid;
  border-color: #ffffff4c;
  all: unset;
  box-sizing: border-box;
}

.portfolio .button {
  top: 11px;
  left: 56px;
  color: #ffffff;
  position: absolute;
  font-family: "DM Sans-Bold", Helvetica;
  font-weight: 700;
  font-size: 16px;
  text-align: center;
  letter-spacing: 0;
  line-height: 24px;
  white-space: nowrap;
  all: unset;
  box-sizing: border-box;
}

.portfolio .overlap-group {
  width: 1440px;
  height: 224px;
  top: 80px;
  background-color: #434ccc;
  position: absolute;
  left: 0;
}

.portfolio .text-wrapper-2 {
  position: absolute;
  top: 46px;
  left: 580px;
  font-family: var(--h1-font-family);
  font-weight: var(--h1-font-weight);
  color: var(--textwhite);
  font-size: var(--h1-font-size);
  text-align: center;
  letter-spacing: var(--h1-letter-spacing);
  line-height: var(--h1-line-height);
  white-space: nowrap;
  font-style: var(--h1-font-style);
}

.portfolio .mea-iisque-mentitum {
  position: absolute;
  top: 136px;
  left: 554px;
  font-family: var(--text-big-font-family);
  font-weight: var(--text-big-font-weight);
  color: var(--textwhite);
  font-size: var(--text-big-font-size);
  text-align: center;
  letter-spacing: var(--text-big-letter-spacing);
  line-height: var(--text-big-line-height);
  white-space: nowrap;
  font-style: var(--text-big-font-style);
}

.portfolio .overlap-2 {
  width: 1440px;
  height: 2384px;
  top: 304px;
  position: absolute;
  left: 0;
}

.portfolio .rectangle {
  position: absolute;
  width: 1440px;
  height: 2384px;
  top: 0;
  left: 0;
  background-color: #434ccc;
  opacity: 0.05;
}

.portfolio .text-wrapper-3 {
  position: absolute;
  top: 46px;
  left: 457px;
  font-family: var(--text-font-family);
  font-weight: var(--text-font-weight);
  color: var(--textblack);
  font-size: var(--text-font-size);
  letter-spacing: var(--text-letter-spacing);
  line-height: var(--text-line-height);
  white-space: nowrap;
  font-style: var(--text-font-style);
}

.portfolio .petentium-corrumpit {
  position: absolute;
  top: 46px;
  left: 581px;
  font-family: var(--text-gray-font-family);
  font-weight: var(--text-gray-font-weight);
  color: var(--textblack-50);
  font-size: var(--text-gray-font-size);
  letter-spacing: var(--text-gray-letter-spacing);
  line-height: var(--text-gray-line-height);
  white-space: nowrap;
  font-style: var(--text-gray-font-style);
}

.portfolio .rectangle-2 {
  position: absolute;
  width: 1170px;
  height: 512px;
  top: 112px;
  left: 135px;
  background-color: #f1b505;
  border-radius: 5px;
}

.portfolio .download {
  width: 1170px;
  top: 112px;
  left: 135px;
  position: absolute;
  height: 512px;
}

.portfolio .text-wrapper-4 {
  position: absolute;
  top: 222px;
  left: 235px;
  font-family: var(--text-gray-font-family);
  font-weight: var(--text-gray-font-weight);
  color: var(--textwhite-50);
  font-size: var(--text-gray-font-size);
  letter-spacing: var(--text-gray-letter-spacing);
  line-height: var(--text-gray-line-height);
  white-space: nowrap;
  font-style: var(--text-gray-font-style);
}

.portfolio .ei-mei-fabellas-gube {
  position: absolute;
  top: 267px;
  left: 235px;
  font-family: var(--h2-font-family);
  font-weight: var(--h2-font-weight);
  color: var(--textwhite);
  font-size: var(--h2-font-size);
  letter-spacing: var(--h2-letter-spacing);
  line-height: var(--h2-line-height);
  font-style: var(--h2-font-style);
}

.portfolio .button-wrapper {
  position: absolute;
  width: 170px;
  height: 48px;
  top: 432px;
  left: 235px;
  border-radius: 5px;
  border: 1px solid;
  border-color: #ffffff4c;
  all: unset;
  box-sizing: border-box;
}

.portfolio .button-2 {
  top: 11px;
  left: 42px;
  color: #ffffff;
  position: absolute;
  font-family: "DM Sans-Bold", Helvetica;
  font-weight: 700;
  font-size: 16px;
  text-align: center;
  letter-spacing: 0;
  line-height: 24px;
  white-space: nowrap;
  all: unset;
  box-sizing: border-box;
}

.portfolio .rectangle-3 {
  position: absolute;
  width: 570px;
  height: 512px;
  top: 656px;
  left: 135px;
  background-color: #e94a47;
  border-radius: 5px;
}

.portfolio .img {
  width: 570px;
  top: 656px;
  left: 135px;
  position: absolute;
  height: 512px;
}

.portfolio .text-wrapper-5 {
  position: absolute;
  top: 734px;
  left: 235px;
  font-family: var(--text-gray-font-family);
  font-weight: var(--text-gray-font-weight);
  color: var(--textwhite-50);
  font-size: var(--text-gray-font-size);
  letter-spacing: var(--text-gray-letter-spacing);
  line-height: var(--text-gray-line-height);
  white-space: nowrap;
  font-style: var(--text-gray-font-style);
}

.portfolio .cum-ea-debitis-guber {
  position: absolute;
  top: 775px;
  left: 235px;
  font-family: var(--h4-font-family);
  font-weight: var(--h4-font-weight);
  color: var(--textwhite);
  font-size: var(--h4-font-size);
  letter-spacing: var(--h4-letter-spacing);
  line-height: var(--h4-line-height);
  font-style: var(--h4-font-style);
}

.portfolio .dark-button-2 {
  width: 48px;
  top: 896px;
  left: 235px;
  position: absolute;
  height: 48px;
  border-radius: 5px;
  border: 1px solid;
  border-color: #ffffff4c;
}

.portfolio .combined-shape {
  position: absolute;
  width: 20px;
  height: 20px;
  top: 910px;
  left: 249px;
}

.portfolio .rectangle-4 {
  position: absolute;
  width: 570px;
  height: 512px;
  top: 656px;
  left: 735px;
  background-color: #428dfc;
  border-radius: 5px;
}

.portfolio .download-2 {
  width: 570px;
  top: 656px;
  left: 735px;
  position: absolute;
  height: 512px;
}

.portfolio .text-wrapper-6 {
  position: absolute;
  top: 734px;
  left: 835px;
  font-family: var(--text-gray-font-family);
  font-weight: var(--text-gray-font-weight);
  color: var(--textwhite-50);
  font-size: var(--text-gray-font-size);
  letter-spacing: var(--text-gray-letter-spacing);
  line-height: var(--text-gray-line-height);
  white-space: nowrap;
  font-style: var(--text-gray-font-style);
}

.portfolio .dicam-dolore-cu-mel {
  position: absolute;
  top: 775px;
  left: 835px;
  font-family: var(--h4-font-family);
  font-weight: var(--h4-font-weight);
  color: var(--textwhite);
  font-size: var(--h4-font-size);
  letter-spacing: var(--h4-letter-spacing);
  line-height: var(--h4-line-height);
  font-style: var(--h4-font-style);
}

.portfolio .dark-button-3 {
  top: 896px;
  left: 835px;
  position: absolute;
  width: 48px;
  height: 48px;
  border-radius: 5px;
  border: 1px solid;
  border-color: #ffffff4c;
}

.portfolio .combined-shape-2 {
  top: 910px;
  left: 849px;
  position: absolute;
  width: 20px;
  height: 20px;
}

.portfolio .rectangle-5 {
  position: absolute;
  width: 570px;
  height: 512px;
  top: 1200px;
  left: 135px;
  background-color: #f1b505;
  border-radius: 5px;
}

.portfolio .download-3 {
  width: 570px;
  top: 1200px;
  left: 135px;
  position: absolute;
  height: 512px;
}

.portfolio .text-wrapper-7 {
  position: absolute;
  top: 1278px;
  left: 235px;
  font-family: var(--text-gray-font-family);
  font-weight: var(--text-gray-font-weight);
  color: var(--textwhite-50);
  font-size: var(--text-gray-font-size);
  letter-spacing: var(--text-gray-letter-spacing);
  line-height: var(--text-gray-line-height);
  white-space: nowrap;
  font-style: var(--text-gray-font-style);
}

.portfolio .fabulas-partiendo-eu {
  position: absolute;
  top: 1319px;
  left: 235px;
  font-family: var(--h4-font-family);
  font-weight: var(--h4-font-weight);
  color: var(--textwhite);
  font-size: var(--h4-font-size);
  letter-spacing: var(--h4-letter-spacing);
  line-height: var(--h4-line-height);
  font-style: var(--h4-font-style);
}

.portfolio .dark-button-4 {
  top: 1440px;
  left: 235px;
  position: absolute;
  width: 48px;
  height: 48px;
  border-radius: 5px;
  border: 1px solid;
  border-color: #ffffff4c;
}

.portfolio .combined-shape-3 {
  top: 1454px;
  left: 249px;
  position: absolute;
  width: 20px;
  height: 20px;
}

.portfolio .rectangle-6 {
  position: absolute;
  width: 570px;
  height: 512px;
  top: 1200px;
  left: 735px;
  background-color: #434ccc;
  border-radius: 5px;
}

.portfolio .download-4 {
  width: 570px;
  top: 1200px;
  left: 735px;
  position: absolute;
  height: 512px;
}

.portfolio .text-wrapper-8 {
  position: absolute;
  top: 1278px;
  left: 835px;
  font-family: var(--text-gray-font-family);
  font-weight: var(--text-gray-font-weight);
  color: var(--textwhite-50);
  font-size: var(--text-gray-font-size);
  letter-spacing: var(--text-gray-letter-spacing);
  line-height: var(--text-gray-line-height);
  white-space: nowrap;
  font-style: var(--text-gray-font-style);
}

.portfolio .sale-veritus-homero {
  position: absolute;
  top: 1319px;
  left: 835px;
  font-family: var(--h4-font-family);
  font-weight: var(--h4-font-weight);
  color: var(--textwhite);
  font-size: var(--h4-font-size);
  letter-spacing: var(--h4-letter-spacing);
  line-height: var(--h4-line-height);
  font-style: var(--h4-font-style);
}

.portfolio .dark-button-5 {
  top: 1440px;
  left: 835px;
  position: absolute;
  width: 48px;
  height: 48px;
  border-radius: 5px;
  border: 1px solid;
  border-color: #ffffff4c;
}

.portfolio .combined-shape-4 {
  top: 1454px;
  left: 849px;
  position: absolute;
  width: 20px;
  height: 20px;
}

.portfolio .light-button {
  left: 528px;
  border: 1px solid;
  border-color: var(--primary-1);
  position: absolute;
  width: 48px;
  height: 48px;
  top: 1760px;
  border-radius: 5px;
}

.portfolio .arrow {
  left: 546px;
  position: absolute;
  width: 10px;
  height: 19px;
  top: 1775px;
}

.portfolio .div-wrapper {
  left: 584px;
  background-color: var(--primary-1);
  position: absolute;
  width: 48px;
  height: 48px;
  top: 1760px;
  border-radius: 5px;
}

.portfolio .button-3 {
  top: 12px;
  left: 21px;
  color: #ffffff;
  position: absolute;
  font-family: "DM Sans-Bold", Helvetica;
  font-weight: 700;
  font-size: 16px;
  text-align: center;
  letter-spacing: 0;
  line-height: 24px;
  white-space: nowrap;
  all: unset;
  box-sizing: border-box;
}

.portfolio .light-button-2 {
  left: 640px;
  position: absolute;
  width: 48px;
  height: 48px;
  top: 1760px;
  border-radius: 5px;
  border: 1px solid;
  border-color: var(--primary-1);
}

.portfolio .button-4 {
  top: 11px;
  left: 18px;
  color: #434ccc;
  position: absolute;
  font-family: "DM Sans-Bold", Helvetica;
  font-weight: 700;
  font-size: 16px;
  text-align: center;
  letter-spacing: 0;
  line-height: 24px;
  white-space: nowrap;
  all: unset;
  box-sizing: border-box;
}

.portfolio .light-button-3 {
  left: 696px;
  position: absolute;
  width: 48px;
  height: 48px;
  top: 1760px;
  border-radius: 5px;
  border: 1px solid;
  border-color: var(--primary-1);
}

.portfolio .button-5 {
  top: 11px;
  left: 17px;
  color: #434ccc;
  position: absolute;
  font-family: "DM Sans-Bold", Helvetica;
  font-weight: 700;
  font-size: 16px;
  text-align: center;
  letter-spacing: 0;
  line-height: 24px;
  white-space: nowrap;
  all: unset;
  box-sizing: border-box;
}

.portfolio .light-button-4 {
  left: 752px;
  position: absolute;
  width: 48px;
  height: 48px;
  top: 1760px;
  border-radius: 5px;
  border: 1px solid;
  border-color: var(--primary-1);
}

.portfolio .button-6 {
  top: 11px;
  left: 13px;
  color: #434ccc;
  position: absolute;
  font-family: "DM Sans-Bold", Helvetica;
  font-weight: 700;
  font-size: 16px;
  text-align: center;
  letter-spacing: 0;
  line-height: 24px;
  white-space: nowrap;
  all: unset;
  box-sizing: border-box;
}

.portfolio .light-button-5 {
  left: 808px;
  position: absolute;
  width: 48px;
  height: 48px;
  top: 1760px;
  border-radius: 5px;
  border: 1px solid;
  border-color: var(--primary-1);
}

.portfolio .light-button-6 {
  top: 1760px;
  left: 864px;
  position: absolute;
  width: 48px;
  height: 48px;
  border-radius: 5px;
  border: 1px solid;
  border-color: var(--primary-1);
}

.portfolio .arrow-2 {
  left: 884px;
  position: absolute;
  width: 10px;
  height: 19px;
  top: 1775px;
}

.portfolio .rectangle-7 {
  position: absolute;
  width: 1440px;
  height: 1px;
  top: 1888px;
  left: 0;
  background-color: #000000;
  opacity: 0.1;
}

.portfolio .his-cu-tamquam-dolor {
  position: absolute;
  top: 2071px;
  left: 135px;
  font-family: var(--h4-font-family);
  font-weight: var(--h4-font-weight);
  color: var(--textblack);
  font-size: var(--h4-font-size);
  letter-spacing: var(--h4-letter-spacing);
  line-height: var(--h4-line-height);
  font-style: var(--h4-font-style);
}

.portfolio .text-wrapper-9 {
  position: absolute;
  top: 2219px;
  left: 197px;
  font-family: var(--text-gray-font-family);
  font-weight: var(--text-gray-font-weight);
  color: var(--textblack-50);
  font-size: var(--text-gray-font-size);
  letter-spacing: var(--text-gray-letter-spacing);
  line-height: var(--text-gray-line-height);
  white-space: nowrap;
  font-style: var(--text-gray-font-style);
}

.portfolio .rectangle-8 {
  position: absolute;
  width: 270px;
  height: 272px;
  top: 2000px;
  left: 435px;
  background-color: #d7d7d7;
  border-radius: 5px;
}

.portfolio .bitmap {
  position: absolute;
  width: 270px;
  height: 272px;
  top: 2000px;
  left: 435px;
}

.portfolio .rectangle-9 {
  position: absolute;
  width: 270px;
  height: 272px;
  top: 2000px;
  left: 735px;
  background-color: #d7d7d7;
  border-radius: 5px;
}

.portfolio .bitmap-2 {
  position: absolute;
  width: 270px;
  height: 272px;
  top: 2000px;
  left: 735px;
}

.portfolio .rectangle-10 {
  position: absolute;
  width: 270px;
  height: 272px;
  top: 2000px;
  left: 1035px;
  background-color: #d7d7d7;
  border-radius: 5px;
}

.portfolio .bitmap-3 {
  position: absolute;
  width: 270px;
  height: 272px;
  top: 2000px;
  left: 1035px;
}

.portfolio .viderer {
  position: absolute;
  top: 2014px;
  left: 135px;
  font-family: var(--h5-font-family);
  font-weight: var(--h5-font-weight);
  color: var(--textblack);
  font-size: var(--h5-font-size);
  letter-spacing: var(--h5-letter-spacing);
  line-height: var(--h5-line-height);
  white-space: nowrap;
  font-style: var(--h5-font-style);
}

.portfolio .light-button-7 {
  top: 2208px;
  left: 135px;
  position: absolute;
  width: 48px;
  height: 48px;
  border-radius: 5px;
  border: 1px solid;
  border-color: var(--primary-1);
}

.portfolio .shape {
  top: 2223px;
  left: 150px;
  position: absolute;
  width: 18px;
  height: 18px;
}

.portfolio .overlap-3 {
  width: 1440px;
  height: 352px;
  top: 2688px;
  background-color: #ffdd77;
  position: absolute;
  left: 0;
}

.portfolio .pericula {
  position: absolute;
  top: 78px;
  left: 135px;
  font-family: var(--h5-font-family);
  font-weight: var(--h5-font-weight);
  color: var(--textblack);
  font-size: var(--h5-font-size);
  letter-spacing: var(--h5-letter-spacing);
  line-height: var(--h5-line-height);
  white-space: nowrap;
  font-style: var(--h5-font-style);
}

.portfolio .mea-modus-volumus-ab {
  position: absolute;
  top: 123px;
  left: 135px;
  font-family: var(--h2-font-family);
  font-weight: var(--h2-font-weight);
  color: var(--textblack);
  font-size: var(--h2-font-size);
  letter-spacing: var(--h2-letter-spacing);
  line-height: var(--h2-line-height);
  font-style: var(--h2-font-style);
}

.portfolio .dark-field-default {
  position: absolute;
  width: 370px;
  height: 76px;
  top: 132px;
  left: 735px;
}

.portfolio .label {
  position: absolute;
  top: -1px;
  left: 0;
  font-family: var(--label-font-family);
  font-weight: var(--label-font-weight);
  color: #000000;
  font-size: var(--label-font-size);
  letter-spacing: var(--label-letter-spacing);
  line-height: var(--label-line-height);
  font-style: var(--label-font-style);
}

.portfolio .placeholder-wrapper {
  width: 370px;
  height: 48px;
  top: 28px;
  background-color: #ffffff;
  border-radius: 5px;
  border: 1px solid;
  border-color: #dadada;
  position: absolute;
  left: 0;
}

.portfolio .placeholder {
  position: absolute;
  top: 11px;
  left: 15px;
  font-family: var(--text-gray-font-family);
  font-weight: var(--text-gray-font-weight);
  color: var(--textblack-50);
  font-size: var(--text-gray-font-size);
  letter-spacing: var(--text-gray-letter-spacing);
  line-height: var(--text-gray-line-height);
  white-space: nowrap;
  font-style: var(--text-gray-font-style);
}

.portfolio .dark-button-primary {
  position: absolute;
  width: 170px;
  height: 48px;
  top: 160px;
  left: 1135px;
  background-color: var(--primary-1);
  border-radius: 5px;
  all: unset;
  box-sizing: border-box;
}

.portfolio .button-7 {
  top: 12px;
  left: 46px;
  color: #ffffff;
  position: absolute;
  font-family: "DM Sans-Bold", Helvetica;
  font-weight: 700;
  font-size: 16px;
  text-align: center;
  letter-spacing: 0;
  line-height: 24px;
  white-space: nowrap;
  all: unset;
  box-sizing: border-box;
}

.portfolio .overlap-4 {
  width: 1440px;
  height: 400px;
  top: 3040px;
  position: absolute;
  left: 0;
}

.portfolio .rectangle-11 {
  position: absolute;
  width: 1440px;
  height: 400px;
  top: 0;
  left: 0;
  background-color: #434ccc;
  opacity: 0.05;
}

.portfolio .text-wrapper-10 {
  top: 71px;
  color: var(--textblack);
  font-size: var(--h4-font-size);
  line-height: var(--h4-line-height);
  position: absolute;
  left: 135px;
  font-family: var(--h4-font-family);
  font-weight: var(--h4-font-weight);
  letter-spacing: var(--h4-letter-spacing);
  white-space: nowrap;
  font-style: var(--h4-font-style);
}

.portfolio .pro-eu-apeirian-suav {
  position: absolute;
  width: 270px;
  top: 126px;
  left: 135px;
  font-family: var(--text-gray-font-family);
  font-weight: var(--text-gray-font-weight);
  color: var(--textblack-50);
  font-size: var(--text-gray-font-size);
  letter-spacing: var(--text-gray-letter-spacing);
  line-height: var(--text-gray-line-height);
  font-style: var(--text-gray-font-style);
}

.portfolio .path {
  position: absolute;
  width: 9px;
  height: 18px;
  top: 222px;
  left: 135px;
}

.portfolio .path-2 {
  position: absolute;
  width: 18px;
  height: 15px;
  top: 224px;
  left: 157px;
}

.portfolio .shape-2 {
  top: 222px;
  left: 185px;
  position: absolute;
  width: 18px;
  height: 18px;
}

.portfolio .text-wrapper-11 {
  position: absolute;
  top: 78px;
  left: 535px;
  font-family: var(--text-font-family);
  font-weight: var(--text-font-weight);
  color: var(--textblack);
  font-size: var(--text-font-size);
  letter-spacing: var(--text-letter-spacing);
  line-height: var(--text-line-height);
  white-space: nowrap;
  font-style: var(--text-font-style);
}

.portfolio .text-wrapper-12 {
  position: absolute;
  top: 126px;
  left: 535px;
  font-family: var(--text-gray-font-family);
  font-weight: var(--text-gray-font-weight);
  color: var(--textblack-50);
  font-size: var(--text-gray-font-size);
  letter-spacing: var(--text-gray-letter-spacing);
  line-height: var(--text-gray-line-height);
  white-space: nowrap;
  font-style: var(--text-gray-font-style);
}

.portfolio .text-wrapper-13 {
  position: absolute;
  top: 158px;
  left: 535px;
  font-family: var(--text-gray-font-family);
  font-weight: var(--text-gray-font-weight);
  color: var(--textblack-50);
  font-size: var(--text-gray-font-size);
  letter-spacing: var(--text-gray-letter-spacing);
  line-height: var(--text-gray-line-height);
  white-space: nowrap;
  font-style: var(--text-gray-font-style);
}

.portfolio .text-wrapper-14 {
  position: absolute;
  top: 190px;
  left: 535px;
  font-family: var(--text-gray-font-family);
  font-weight: var(--text-gray-font-weight);
  color: var(--textblack-50);
  font-size: var(--text-gray-font-size);
  letter-spacing: var(--text-gray-letter-spacing);
  line-height: var(--text-gray-line-height);
  white-space: nowrap;
  font-style: var(--text-gray-font-style);
}

.portfolio .text-wrapper-15 {
  position: absolute;
  top: 222px;
  left: 535px;
  font-family: var(--text-gray-font-family);
  font-weight: var(--text-gray-font-weight);
  color: var(--textblack-50);
  font-size: var(--text-gray-font-size);
  letter-spacing: var(--text-gray-letter-spacing);
  line-height: var(--text-gray-line-height);
  white-space: nowrap;
  font-style: var(--text-gray-font-style);
}

.portfolio .text-wrapper-16 {
  position: absolute;
  top: 78px;
  left: 735px;
  font-family: var(--text-font-family);
  font-weight: var(--text-font-weight);
  color: var(--textblack);
  font-size: var(--text-font-size);
  letter-spacing: var(--text-letter-spacing);
  line-height: var(--text-line-height);
  white-space: nowrap;
  font-style: var(--text-font-style);
}

.portfolio .text-wrapper-17 {
  position: absolute;
  top: 126px;
  left: 735px;
  font-family: var(--text-gray-font-family);
  font-weight: var(--text-gray-font-weight);
  color: var(--textblack-50);
  font-size: var(--text-gray-font-size);
  letter-spacing: var(--text-gray-letter-spacing);
  line-height: var(--text-gray-line-height);
  white-space: nowrap;
  font-style: var(--text-gray-font-style);
}

.portfolio .text-wrapper-18 {
  position: absolute;
  top: 158px;
  left: 735px;
  font-family: var(--text-gray-font-family);
  font-weight: var(--text-gray-font-weight);
  color: var(--textblack-50);
  font-size: var(--text-gray-font-size);
  letter-spacing: var(--text-gray-letter-spacing);
  line-height: var(--text-gray-line-height);
  white-space: nowrap;
  font-style: var(--text-gray-font-style);
}

.portfolio .text-wrapper-19 {
  position: absolute;
  top: 190px;
  left: 735px;
  font-family: var(--text-gray-font-family);
  font-weight: var(--text-gray-font-weight);
  color: var(--textblack-50);
  font-size: var(--text-gray-font-size);
  letter-spacing: var(--text-gray-letter-spacing);
  line-height: var(--text-gray-line-height);
  white-space: nowrap;
  font-style: var(--text-gray-font-style);
}

.portfolio .text-wrapper-20 {
  position: absolute;
  top: 222px;
  left: 735px;
  font-family: var(--text-gray-font-family);
  font-weight: var(--text-gray-font-weight);
  color: var(--textblack-50);
  font-size: var(--text-gray-font-size);
  letter-spacing: var(--text-gray-letter-spacing);
  line-height: var(--text-gray-line-height);
  white-space: nowrap;
  font-style: var(--text-gray-font-style);
}

.portfolio .rectangle-12 {
  position: absolute;
  width: 70px;
  height: 48px;
  top: 80px;
  left: 935px;
  background-color: #d7d7d7;
  border-radius: 5px;
}

.portfolio .bitmap-4 {
  position: absolute;
  width: 70px;
  height: 48px;
  top: 80px;
  left: 935px;
}

.portfolio .ius-delectus-instruc {
  position: absolute;
  width: 270px;
  top: 78px;
  left: 1035px;
  font-family: var(--text-gray-font-family);
  font-weight: var(--text-gray-font-weight);
  color: var(--textblack-50);
  font-size: var(--text-gray-font-size);
  letter-spacing: var(--text-gray-letter-spacing);
  line-height: var(--text-gray-line-height);
  font-style: var(--text-gray-font-style);
}

.portfolio .text-wrapper-21 {
  top: 127px;
  position: absolute;
  left: 1035px;
  font-family: var(--text-small-font-family);
  font-weight: var(--text-small-font-weight);
  color: var(--textblack);
  font-size: var(--text-small-font-size);
  letter-spacing: var(--text-small-letter-spacing);
  line-height: var(--text-small-line-height);
  white-space: nowrap;
  font-style: var(--text-small-font-style);
}

.portfolio .rectangle-13 {
  position: absolute;
  width: 70px;
  height: 48px;
  top: 192px;
  left: 935px;
  background-color: #d7d7d7;
  border-radius: 5px;
}

.portfolio .bitmap-5 {
  position: absolute;
  width: 70px;
  height: 48px;
  top: 192px;
  left: 935px;
}

.portfolio .altera-integre-suavi {
  position: absolute;
  width: 270px;
  top: 190px;
  left: 1035px;
  font-family: var(--text-gray-font-family);
  font-weight: var(--text-gray-font-weight);
  color: var(--textblack-50);
  font-size: var(--text-gray-font-size);
  letter-spacing: var(--text-gray-letter-spacing);
  line-height: var(--text-gray-line-height);
  font-style: var(--text-gray-font-style);
}

.portfolio .text-wrapper-22 {
  top: 239px;
  position: absolute;
  left: 1035px;
  font-family: var(--text-small-font-family);
  font-weight: var(--text-small-font-weight);
  color: var(--textblack);
  font-size: var(--text-small-font-size);
  letter-spacing: var(--text-small-letter-spacing);
  line-height: var(--text-small-line-height);
  white-space: nowrap;
  font-style: var(--text-small-font-style);
}

.portfolio .rectangle-14 {
  position: absolute;
  width: 1440px;
  height: 1px;
  top: 319px;
  left: 0;
  background-color: #000000;
  opacity: 0.1;
}

.portfolio .text-wrapper-23 {
  position: absolute;
  top: 346px;
  left: 135px;
  font-family: var(--text-gray-font-family);
  font-weight: var(--text-gray-font-weight);
  color: var(--textblack-50);
  font-size: var(--text-gray-font-size);
  letter-spacing: var(--text-gray-letter-spacing);
  line-height: var(--text-gray-line-height);
  white-space: nowrap;
  font-style: var(--text-gray-font-style);
}

.portfolio .LOGO-all-ri {
  position: absolute;
  top: 346px;
  left: 1059px;
  font-family: var(--text-gray-font-family);
  font-weight: var(--text-gray-font-weight);
  color: var(--textblack-50);
  font-size: var(--text-gray-font-size);
  text-align: right;
  letter-spacing: var(--text-gray-letter-spacing);
  line-height: var(--text-gray-line-height);
  white-space: nowrap;
  font-style: var(--text-gray-font-style);
}
